/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

body a:hover {
  cursor: url("../images/pointer.png"), auto;
}

video::-webkit-media-controls-panel:hover {
  cursor: url("..images/pointer.png"), auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#loader img {
  width: 100%;
  height: auto;
}

.fade-in {
  -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s both;
  animation: slide-in-left 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s both;
  animation: slide-in-right 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

header {
  background-color: #322555;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header li {
  margin-left: 7.5%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  white-space: nowrap;
}

header img {
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

header a {
  width: auto;
}

.kniv {
  cursor: url(../images/knifecursor.png), auto;
}

.gaffel {
  cursor: url(../images/forkcursor.png), auto;
}

#page__index {
  background: url("../images/grainybackground.jpg");
  background-size: auto;
  background-repeat: repeat;
}

#page__index #mainpagevideo {
  width: 100%;
}

#page__index .storkniv {
  position: fixed;
  width: 30%;
  left: 0;
  margin-left: 40%;
}

#page__index .tomaten {
  width: 30%;
  margin-left: 40%;
}

#page__index #sidebar {
  position: fixed;
  top: -1.25%;
  left: 15%;
  padding-top: 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 10%;
  z-index: 6;
}

#page__index #sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  position: relative;
  text-align: left;
}

#page__index #sidebar ul::after {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% - 58px);
  top: 0;
  background: crimson;
  z-index: -5;
  margin-top: 29px;
}

#page__index #sidebar ul li {
  margin-left: 78%;
}

#page__index #sidebar ul li a {
  text-decoration: underline;
  position: relative;
  color: black;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 500;
}

#page__index #sidebar ul li a::before {
  content: "";
  position: absolute;
  background: crimson;
  width: 18px;
  height: 18px;
  left: 39%;
  top: 150%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50px;
  border: 4px solid crimson;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

#page__index #sidebar ul li a.active {
  font-weight: 700;
}

#page__index #sidebar ul li a.active::before {
  background: #fff;
}

#page__index section {
  display: block;
}

#page__index #kostpolitik {
  height: 40000px;
}

#page__index #kostpolitik #kostpolitik1 {
  position: fixed;
  top: 30%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 3em;
}

#page__index #kostpolitik #kostpolitik2 {
  position: fixed;
  top: 70%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 2.5em;
}

#page__index #kostpolitik #kostpolitik3 {
  position: fixed;
  top: 80%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 1.2em;
}

#page__index #kostpolitik #kostpolitik4 {
  position: fixed;
  top: 50%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Azeret Mono", monospace;
  font-size: 1.5em;
}

#page__index #kostpolitik #kostpolitik5 {
  position: fixed;
  top: 70%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 1.3em;
}

#page__index #kostpolitik #kostpolitik6 {
  position: fixed;
  top: 30%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 1.5em;
}

#page__index #kostpolitik #kostpolitik7 {
  position: fixed;
  top: 50%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 1.3em;
}

#page__index #kostpolitik #kostpolitik8 {
  position: fixed;
  top: 50%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
}

#page__index #kostpolitik #kostpolitik9 {
  position: fixed;
  top: 70%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
}

#page__index #kostpolitik #kostpolitik10 {
  position: fixed;
  top: 50%;
  left: -5000px;
  white-space: nowrap;
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
}

#page__index #kostpolitik #kostpolitik11 {
  position: fixed;
  top: 30%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
}

#page__index #kostpolitik #kostpolitik12 {
  position: fixed;
  top: 50%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 1.5em;
}

#page__index #kostpolitik #kostpolitik13 {
  position: fixed;
  top: 50%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
}

#page__index #kostpolitik #kostpolitik14 {
  position: fixed;
  top: 80%;
  left: -1200px;
  white-space: nowrap;
  font-family: "Zen Antique", serif;
  font-size: 2em;
}

#page__index #maaltider {
  height: 13734px;
}

#page__index #maaltider h2 {
  font-size: 3.5em;
  margin: 15% 0 0 0;
}

#page__index #maaltider h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2%;
  text-decoration: underline;
}

#page__index #maaltider p {
  font-size: 1.5em;
  text-align: center;
}

#page__index .maaltidbillede {
  width: 120%;
}

#page__index #koekkenet {
  color: black;
  font-family: "Montserrat", sans-serif;
}

#page__index #koekkenet #koekkenvideo {
  width: 80%;
  margin: 0 10% 0 10%;
}

#page__index h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  text-align: center;
}

#page__index h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.2em;
  padding-top: 3%;
  margin-bottom: 5%;
}

#page__index #articleheading {
  display: none;
}

#page__index #mainheading {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 3.5em;
  margin-top: 5%;
}

#page__index #vaerdierheading {
  margin-top: 15%;
  margin-bottom: 0%;
}

#page__index #vaerdiertekst {
  text-align: center;
  width: 35%;
  margin-left: 60%;
  font-size: 1.2em;
}

#page__index #vaerdiertekst h3 {
  margin-top: 4%;
}

#page__index #vaerdiertekst li {
  list-style: disc;
  text-align: left;
}

#page__index #vaerdiertekst ul {
  margin-top: 4%;
  margin-left: 7%;
}

#page__index #vaerdiertekst p {
  margin-top: 4%;
}

#page__index article {
  width: 100%;
  background: url("../images/grainybackground.jpg");
}

#page__index #kostraad {
  height: 2823.3px;
}

#page__index #kostraadlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4em;
}

#page__index #kostraad1 {
  display: none;
}

#page__index #kostraad2 {
  display: none;
}

#page__index #kostraad3 {
  display: none;
}

#page__index #kostraad4 {
  display: none;
}

#page__index #kostraad5 {
  display: none;
}

#page__index #kostraad6 {
  display: none;
}

#page__index #kostraad7 {
  display: none;
}

#page__index #kostraad8 {
  display: none;
}

#page__index #kostraad9 {
  display: none;
}

#page__index #kostraad10 {
  display: none;
}

#page__index #kostraadheading {
  text-align: center;
  font-family: "Zen Antique", serif;
  font-size: 1.3em;
  margin: 2% 0 3% 0;
}

#page__index .kostraadleft {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#page__index .kostraadblock {
  margin-bottom: 5%;
  background-color: #ffd000;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page__index .kostraadnummer {
  font-size: 2em;
  margin-right: 2%;
  margin-left: 2%;
}

#page__index .kostraadright {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#page__index #eyesection {
  background: #dad0dd;
}

#page__index #eyesection img {
  width: 100%;
}

#page__index .theeye {
  position: relative;
}

#page__index .eye {
  position: absolute;
  top: 0;
  z-index: 3;
}

#page__index #specialkost {
  margin-top: 10%;
}

#page__index #specialkost h2 {
  text-align: center;
  font-size: 3.5em;
  margin-right: 10%;
}

#page__index #specialkost #specialkostflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page__index #specialkost #specialkostflex img {
  width: 40%;
}

#page__index #specialkost #specialkostflex p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-right: 10%;
  text-align: center;
}

#page__index #specialkost #specialkostflex #knivogtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-right: 6%;
  margin-top: 6%;
}

#page__index #specialkost #specialkostflex #knivogtext img {
  width: 100%;
  margin-right: -30%;
  padding: 4% 0 12% 0;
}

#page__index .scroll1 {
  position: fixed;
  top: 30%;
  left: -800px;
  width: 50%;
}

#page__index .scroll2 {
  position: fixed;
  top: 30%;
  left: -800px;
  height: 800vh;
  width: 50%;
}

#page__index .scroll3 {
  position: fixed;
  top: 30%;
  left: -800px;
  height: 800vh;
  width: 50%;
}

#page__index .scroll4 {
  position: fixed;
  top: 30%;
  left: -800px;
  height: 800vh;
  width: 50%;
}

#page__index .scroll5 {
  position: fixed;
  top: 30%;
  left: -800px;
  height: 800vh;
  width: 50%;
}

#page__index .scroll6 {
  position: fixed;
  top: 30%;
  left: -800px;
  height: 800vh;
  width: 50%;
}

#page__index .scroll7 {
  position: fixed;
  top: 30%;
  left: -800px;
  height: 800vh;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */