header {
  background-color: #322555;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  ul {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  li {
    margin-left: 7.5%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    white-space:nowrap;
  }
  img {
    width: 60%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 1.5%;
  }
  a {
    width: auto;
  }
}
